// var
$size: 40px;
$witheColor: white;
$blackColor: black;
$capitalColor: #0d1d56;
$defaultColor: #505a7e;
$decorColor: #fbdd03;
$buttonColor: #7794ff;
$buttonHover: #93aafc;
$purpleColor: #8820b5;
$greenColor: rgb(49 181 182);
// mixin
@mixin faBrandsSize($size, $color) {
  font-size: $size;
  color: $color;
}

@mixin subtitleSection {
  font-size: 30px;
  text-transform: uppercase;
  color: $capitalColor;
  border-color: $decorColor;
  border-bottom-style: solid;
  border-bottom-width: 5px;
}

@mixin marginResponsive {
  margin-top: 50px;
  margin-bottom: 30px;
}

body {
  font-family: sans-serif;
}

.navigation-bar {
  margin: 30px 120px;
  display: flex;
  justify-content: end;
  padding: 20px 0px;

  ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    li {
      a {
        text-decoration: none;
        color: $capitalColor;
        font-weight: bold;
        text-transform: uppercase;
        margin: 10px 20px;
        transition: all 0.2s;
      }
      .contact-buttom {
        background-color: $buttonColor;
        padding: 10px 15px;
        border-radius: 80px;
        color: $witheColor !important;
        transition: all 0.5s;
        &:hover {
          background-color: $buttonHover;
        }
        .fa-envelope {
          margin-right: 10px;
        }
      }
      &:hover {
        text-decoration: underline;
      }
      &:nth-child(4) {
        text-decoration: none;
      }
      .fa-github {
        @include faBrandsSize($size, $purpleColor);
      }

      .fa-linkedin {
        @include faBrandsSize($size, $greenColor);
      }
    }
  }
}

// intro seccion

#biography {
  display: flex;
  justify-content: space-between;
  margin: 220px 120px;
  .biography-intro-text {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  span {
    font-size: 30px;
    color: $defaultColor;
    border-color: $decorColor;
    border-bottom-style: solid;
    width: 230px;
    border-bottom-width: 4px;
  }
  h1 {
    font-size: 80px;
    margin: 0;
    color: #0d1d56;
  }
  p {
    font-size: 20px;
    margin: 10px 0px;
    color: $defaultColor;
    line-height: 1.444;
  }
  .dowloand-cv {
    text-decoration: none;
    text-align: center;
    color: $witheColor;
    padding: 10px;
    width: 180px;
    border-radius: 30px;
    background: $buttonColor;
    cursor: pointer;
    &:hover {
      background: $buttonHover;
    }
  }
  .biography-banner {
    width: 40%;
    img {
      width: 600px;
    }
  }
}

// skills section

#skills {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  .skills-subtitle {
    display: flex;
    width: 50%;
    margin: 0px 120px;
    flex-direction: column;
    justify-content: center;
    h2 {
      @include subtitleSection;
      width: 160px;
    }
    p {
      font-size: 20px;
      line-height: 1.444;
      color: $defaultColor;
    }
  }
  .skills-items {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
    background-image: linear-gradient(260deg, #cbe7f6 0%, #7ae7fa 100%);
    .item {
      margin: 40px;
      img {
        width: 70px;
        height: 70px;
        margin: 5px 25px;
        border-radius: 60%;
      }
      p {
        margin: 0;
        font-size: 20px;
        text-align: center;
        color: $defaultColor;
      }
    }
  }
}

// projects

#my-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 200px 120px;
  .projects-subtitle {
    display: flex;
    h2 {
      @include subtitleSection;
    }
  }
  .projects-wrapper {
    display: flex;
    justify-content: space-around;

    .project {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 25.33%;
      padding: 10px;
      margin-right: 20px;
      &:hover {
        transition: 2s;
        box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2),
          0 13px 26px 0 rgba(0, 0, 0, 0.19);
      }
      .project-thumbnail {
        img {
          width: 100%;
        }
      }
    }
    .project-description {
      font-size: 20px;
      line-height: 1.444;
      text-align: center;
      h3 {
        text-align: center;
        color: $capitalColor;
      }
      p {
        text-align: center;
        color: $defaultColor;
      }
    }
  }
  .project-buttons {
    display: flex;
    a {
      text-decoration: none;
      color: $witheColor;
      background-color: rgb(146, 135, 250);

      padding: 10px;
      margin: 10px;
      border: 1px solid $blackColor;
      border-radius: 20px;
      &:hover {
        background-color: rgb(183, 136, 245);
      }
      &:first-child {
        background-color: rgb(153, 236, 240);
        color: $defaultColor;
        &:first-child:hover {
          background-color: rgb(112, 249, 249);
        }
      }
    }
  }
}

// experience
#experience {
  margin: 120px;
  margin-bottom: 0;
  .experience-subtitle {
    h2 {
      @include subtitleSection;
      width: 247px;
    }
  }
  .experience-item {
    display: flex;
    width: 50%;
  }
  .experience-company-logo {
    img {
      width: 60px;
    }
  }
  .experience-company-info {
    margin-left: 30px;
    font-size: 20px;
    h3 {
      margin: 0px 0px 15px 0px;
      color: $capitalColor;
    }
    .company-details {
      span {
        color: $defaultColor;
      }
      p {
        color: $defaultColor;
      }

      .company-location {
        margin-right: 20px;
      }
      .company-name {
        a {
          color: $defaultColor;
          text-decoration: none;
        }
      }
      ul {
        li {
          color: $defaultColor;
        }
      }
      .fa-solid {
        color: $greenColor;
      }
    }
  }
}

// education

#education {
  .education-items {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 120px;
  }
  .education-subtitle {
    h2 {
      @include subtitleSection;
      text-align: end;
    }
  }
  .education-coursera,
  .education-colbach {
    display: flex;
    .education-info {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-right: 20px;
      h3 {
        margin: 0 0 15px 0;
        color: $capitalColor;
        font-size: 25px;
        text-align: end;
      }
      span,
      p {
        color: $defaultColor;
        font-size: 20px;
        width: 80%;
        text-align: end;
        line-height: 1.444;
      }
    }
  }
  .education-img {
    img {
      width: 80px;
    }
  }
}

// certifcations
#certificate {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 120px;
  .certificate-subtitle {
    h2 {
      @include subtitleSection;
    }
  }
  .certificate-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .certificate-item {
      padding: 20px;
      margin-inline: 30px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.1);
      &:hover {
        box-shadow: 0 13px 15px 0 rgba(0, 0, 0, 0.2),
          0 10px 24px 0 rgba(0, 0, 0, 0.1);
        transition: 2s;
      }
      .certificate-html,
      .certificate-css {
        img {
          width: 300px;
        }
        a {
          margin-block: 20px;
          display: block;
          text-decoration: none;
          color: $defaultColor;
          text-align: center;
          font-size: 20px;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

// footer

footer {
  display: flex;
  flex-direction: column;
  padding: 50px;
  font-size: 20px;
  background-color: #e0e0e284;
  .footer-contact {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    .fa-linkedin {
      margin: 0 30px;
    }
    .fa-envelope-circle-check {
      @include faBrandsSize($size, rgb(79, 238, 246));
    }
    .fa-earth-americas,
    .fa-comment-dots {
      @include faBrandsSize($size, #88a2ff);
    }
    .fa-github {
      @include faBrandsSize($size, $purpleColor);
    }

    .fa-linkedin {
      @include faBrandsSize($size, $greenColor);
    }
  }
}

/* -------> Media queries <-------- */

/* 
  phones phones max with 767px
  tablets and large phones min with 768px
 */

@media all and (max-width: 1100px) {
  .navigation-bar {
    justify-content: center;
    .navigation-bar-links {
      justify-content: center;
      ul {
        flex-wrap: wrap;
        justify-content: center;
        li {
          a {
            font-size: 25px;
            margin: 15px;
            display: inline-block;
          }
          .contact-buttom {
            padding: 10px;
            font-size: 19px;
            margin: 0px;
          }
        }
      }
    }
  }

  #biography {
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    .biography-intro-text {
      width: 100%;
      span {
        margin: 0 auto;
      }
      h1 {
        font-size: 50px;
      }
      .dowloand-cv {
        margin: 0 auto;
        margin-top: 20px;
        font-size: 25px;
        padding: 18px;
        color: black;
      }
    }
    .biography-banner {
      width: 100%;
      margin-top: 50px;
      img {
        width: 100%;
      }
    }
  }

  #skills {
    flex-direction: column;
    @include marginResponsive;
    .skills-subtitle {
      width: 100%;
      margin: 0;
      text-align: center;
    }
    .skills-items {
      width: 100%;
      padding: 0;
      justify-content: space-around;
      .item {
        margin: 20px;
        img {
          margin: 0;
        }
      }
    }
  }

  #my-projects {
    flex-direction: column;
    margin: 0;
    @include marginResponsive;

    .projects-wrapper {
      flex-direction: column;
      .project {
        width: 100%;
        margin-block: 30px;
        padding: 0;
        .project-thumbnail {
          img {
            width: 100%;
          }
        }
        .project-description {
          text-align: center;
        }
        .project-buttons {
          a {
            font-size: 20px;
            border-radius: 40px;
          }
        }
      }
    }
  }

  #experience {
    margin: 0;
    @include marginResponsive;

    .experience-subtitle {
      h2 {
        margin: 30px auto;
      }
    }
    .experience-item {
      width: 100%;
    }
    .experience-company-logo {
      img {
        width: 50px;
      }
    }
    .experience-company-info {
      margin-left: 10px;
    }
  }

  #education {
    @include marginResponsive;

    .education-items {
      margin: 0;
      .education-coursera {
        margin-bottom: 40px;
      }
    }
  }

  #certificate {
    @include marginResponsive;

    .certificate-wrap {
      flex-direction: column;

      .certificate-item {
        margin-top: 20px;
        padding: 0;
      }
    }
  }

  footer {
    .footer-contact {
      flex-wrap: wrap;
      .copyright {
        p {
          font-size: 15px;
        }
      }
      .location {
        p {
          font-size: 15px;
        }
      }
      .email {
        p {
          font-size: 15px;
        }
      }
    }
  }
}
