body {
  font-family: sans-serif;
}

.navigation-bar {
  margin: 30px 120px;
  display: flex;
  justify-content: end;
  padding: 20px 0px;
}
.navigation-bar ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
}
.navigation-bar ul li a {
  text-decoration: none;
  color: #0d1d56;
  font-weight: bold;
  text-transform: uppercase;
  margin: 10px 20px;
  transition: all 0.2s;
}
.navigation-bar ul li .contact-buttom {
  background-color: #7794ff;
  padding: 10px 15px;
  border-radius: 80px;
  color: white !important;
  transition: all 0.5s;
}
.navigation-bar ul li .contact-buttom:hover {
  background-color: #93aafc;
}
.navigation-bar ul li .contact-buttom .fa-envelope {
  margin-right: 10px;
}
.navigation-bar ul li:hover {
  text-decoration: underline;
}
.navigation-bar ul li:nth-child(4) {
  text-decoration: none;
}
.navigation-bar ul li .fa-github {
  font-size: 40px;
  color: #8820b5;
}
.navigation-bar ul li .fa-linkedin {
  font-size: 40px;
  color: rgb(49, 181, 182);
}

#biography {
  display: flex;
  justify-content: space-between;
  margin: 220px 120px;
}
#biography .biography-intro-text {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#biography span {
  font-size: 30px;
  color: #505a7e;
  border-color: #fbdd03;
  border-bottom-style: solid;
  width: 230px;
  border-bottom-width: 4px;
}
#biography h1 {
  font-size: 80px;
  margin: 0;
  color: #0d1d56;
}
#biography p {
  font-size: 20px;
  margin: 10px 0px;
  color: #505a7e;
  line-height: 1.444;
}
#biography .dowloand-cv {
  text-decoration: none;
  text-align: center;
  color: white;
  padding: 10px;
  width: 180px;
  border-radius: 30px;
  background: #7794ff;
  cursor: pointer;
}
#biography .dowloand-cv:hover {
  background: #93aafc;
}
#biography .biography-banner {
  width: 40%;
}
#biography .biography-banner img {
  width: 600px;
}

#skills {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}
#skills .skills-subtitle {
  display: flex;
  width: 50%;
  margin: 0px 120px;
  flex-direction: column;
  justify-content: center;
}
#skills .skills-subtitle h2 {
  font-size: 30px;
  text-transform: uppercase;
  color: #0d1d56;
  border-color: #fbdd03;
  border-bottom-style: solid;
  border-bottom-width: 5px;
  width: 160px;
}
#skills .skills-subtitle p {
  font-size: 20px;
  line-height: 1.444;
  color: #505a7e;
}
#skills .skills-items {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px;
  background-image: linear-gradient(260deg, #cbe7f6 0%, #7ae7fa 100%);
}
#skills .skills-items .item {
  margin: 40px;
}
#skills .skills-items .item img {
  width: 70px;
  height: 70px;
  margin: 5px 25px;
  border-radius: 60%;
}
#skills .skills-items .item p {
  margin: 0;
  font-size: 20px;
  text-align: center;
  color: #505a7e;
}

#my-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 200px 120px;
}
#my-projects .projects-subtitle {
  display: flex;
}
#my-projects .projects-subtitle h2 {
  font-size: 30px;
  text-transform: uppercase;
  color: #0d1d56;
  border-color: #fbdd03;
  border-bottom-style: solid;
  border-bottom-width: 5px;
}
#my-projects .projects-wrapper {
  display: flex;
  justify-content: space-around;
}
#my-projects .projects-wrapper .project {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25.33%;
  padding: 10px;
  margin-right: 20px;
}
#my-projects .projects-wrapper .project:hover {
  transition: 2s;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2), 0 13px 26px 0 rgba(0, 0, 0, 0.19);
}
#my-projects .projects-wrapper .project .project-thumbnail img {
  width: 100%;
}
#my-projects .projects-wrapper .project-description {
  font-size: 20px;
  line-height: 1.444;
  text-align: center;
}
#my-projects .projects-wrapper .project-description h3 {
  text-align: center;
  color: #0d1d56;
}
#my-projects .projects-wrapper .project-description p {
  text-align: center;
  color: #505a7e;
}
#my-projects .project-buttons {
  display: flex;
}
#my-projects .project-buttons a {
  text-decoration: none;
  color: white;
  background-color: rgb(146, 135, 250);
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 20px;
}
#my-projects .project-buttons a:hover {
  background-color: rgb(183, 136, 245);
}
#my-projects .project-buttons a:first-child {
  background-color: rgb(153, 236, 240);
  color: #505a7e;
}
#my-projects .project-buttons a:first-child:first-child:hover {
  background-color: rgb(112, 249, 249);
}

#experience {
  margin: 120px;
  margin-bottom: 0;
}
#experience .experience-subtitle h2 {
  font-size: 30px;
  text-transform: uppercase;
  color: #0d1d56;
  border-color: #fbdd03;
  border-bottom-style: solid;
  border-bottom-width: 5px;
  width: 247px;
}
#experience .experience-item {
  display: flex;
  width: 50%;
}
#experience .experience-company-logo img {
  width: 60px;
}
#experience .experience-company-info {
  margin-left: 30px;
  font-size: 20px;
}
#experience .experience-company-info h3 {
  margin: 0px 0px 15px 0px;
  color: #0d1d56;
}
#experience .experience-company-info .company-details span {
  color: #505a7e;
}
#experience .experience-company-info .company-details p {
  color: #505a7e;
}
#experience .experience-company-info .company-details .company-location {
  margin-right: 20px;
}
#experience .experience-company-info .company-details .company-name a {
  color: #505a7e;
  text-decoration: none;
}
#experience .experience-company-info .company-details ul li {
  color: #505a7e;
}
#experience .experience-company-info .company-details .fa-solid {
  color: rgb(49, 181, 182);
}

#education .education-items {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 120px;
}
#education .education-subtitle h2 {
  font-size: 30px;
  text-transform: uppercase;
  color: #0d1d56;
  border-color: #fbdd03;
  border-bottom-style: solid;
  border-bottom-width: 5px;
  text-align: end;
}
#education .education-coursera,
#education .education-colbach {
  display: flex;
}
#education .education-coursera .education-info,
#education .education-colbach .education-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 30px;
}
#education .education-coursera .education-info h3,
#education .education-colbach .education-info h3 {
  margin: 0 0 15px 0;
  color: #0d1d56;
  font-size: 25px;
}
#education .education-coursera .education-info span,
#education .education-coursera .education-info p,
#education .education-colbach .education-info span,
#education .education-colbach .education-info p {
  color: #505a7e;
  font-size: 20px;
  width: 80%;
  text-align: end;
  line-height: 1.444;
}
#education .education-img img {
  width: 80px;
}

#certificate {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 120px;
}
#certificate .certificate-subtitle h2 {
  font-size: 30px;
  text-transform: uppercase;
  color: #0d1d56;
  border-color: #fbdd03;
  border-bottom-style: solid;
  border-bottom-width: 5px;
}
#certificate .certificate-wrap {
  display: flex;
}
#certificate .certificate-wrap .certificate-item {
  padding: 20px;
  margin-inline: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
#certificate .certificate-wrap .certificate-item:hover {
  box-shadow: 0 13px 15px 0 rgba(0, 0, 0, 0.2), 0 10px 24px 0 rgba(0, 0, 0, 0.1);
  transition: 2s;
}
#certificate .certificate-wrap .certificate-item .certificate-html img,
#certificate .certificate-wrap .certificate-item .certificate-css img {
  width: 300px;
}
#certificate .certificate-wrap .certificate-item .certificate-html a,
#certificate .certificate-wrap .certificate-item .certificate-css a {
  margin-block: 20px;
  display: block;
  text-decoration: none;
  color: #505a7e;
  text-align: center;
  font-size: 20px;
}
#certificate .certificate-wrap .certificate-item .certificate-html a:hover,
#certificate .certificate-wrap .certificate-item .certificate-css a:hover {
  text-decoration: underline;
}

footer {
  display: flex;
  flex-direction: column;
  padding: 50px;
  font-size: 20px;
  background-color: rgba(224, 224, 226, 0.5176470588);
}
footer .footer-contact {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
footer .footer-contact .fa-linkedin {
  margin: 0 30px;
}
footer .footer-contact .fa-envelope-circle-check {
  font-size: 40px;
  color: rgb(79, 238, 246);
}
footer .footer-contact .fa-earth-americas,
footer .footer-contact .fa-comment-dots {
  font-size: 40px;
  color: #88a2ff;
}
footer .footer-contact .fa-github {
  font-size: 40px;
  color: #8820b5;
}
footer .footer-contact .fa-linkedin {
  font-size: 40px;
  color: rgb(49, 181, 182);
}

/* -------> Media queries <-------- */
/* 
  phones phones max with 767px
  tablets and large phones min with 768px
 */
@media all and (max-width: 1100px) {
  body {
    margin: 0;
  }
  .navigation-bar {
    justify-content: center;
  }
  .navigation-bar .navigation-bar-links {
    justify-content: center;
  }
  .navigation-bar .navigation-bar-links ul {
    flex-wrap: wrap;
    justify-content: center;
  }
  .navigation-bar .navigation-bar-links ul li a {
    font-size: 25px;
    margin: 15px;
    display: inline-block;
  }
  .navigation-bar .navigation-bar-links ul li .contact-buttom {
    padding: 10px;
    font-size: 19px;
    margin: 0px;
  }
  #biography {
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin: 0;
  }
  #biography .biography-intro-text {
    width: 100%;
  }
  #biography .biography-intro-text span {
    margin: 0 auto;
  }
  #biography .biography-intro-text h1 {
    font-size: 50px;
  }
  #biography .biography-intro-text .dowloand-cv {
    margin: 0 auto;
    margin-top: 20px;
    font-size: 25px;
    padding: 18px;
    color: black;
  }
  #biography .biography-banner {
    width: 100%;
    margin-top: 50px;
  }
  #biography .biography-banner img {
    width: 100%;
  }
  #skills {
    flex-direction: column;
  }
  #skills .skills-subtitle {
    width: 100%;
    margin: 0;
    text-align: center;
  }
  #skills .skills-items {
    width: 100%;
    padding: 0;
    justify-content: space-around;
  }
  #skills .skills-items .item {
    margin: 20px;
  }
  #skills .skills-items .item img {
    margin: 0;
  }
  #my-projects {
    flex-direction: column;
    margin: 0;
  }
  #my-projects .projects-wrapper {
    flex-direction: column;
  }
  #my-projects .projects-wrapper .project {
    width: 100%;
    margin: 0;
  }
  #my-projects .projects-wrapper .project .project-thumbnail img {
    width: 100%;
  }
  #my-projects .projects-wrapper .project .project-description {
    text-align: center;
  }
  #my-projects .projects-wrapper .project .project-buttons a {
    font-size: 20px;
    border-radius: 40px;
  }
  #experience {
    margin: 0;
  }
  #experience .experience-subtitle h2 {
    margin: 30px auto;
  }
  #experience .experience-item {
    width: 100%;
  }
  #experience .experience-company-logo img {
    width: 50px;
  }
  #experience .experience-company-info {
    margin-left: 10px;
  }
}
#certificate .certificate-wrap {
  flex-direction: column;
}
#certificate .certificate-wrap .certificate-item {
  margin: 0;
  padding: 0;
}

.footer-contact {
  flex-wrap: wrap;
}/*# sourceMappingURL=main.css.map */