// var
$size: 40px;
$witheColor: white;
$blackColor: black;
$capitalColor: #0d1d56;
$defaultColor: #505a7e;
$decorColor: #fbdd03;
$buttonColor: #7794ff;
$buttonHover: #93aafc;
$purpleColor: #8820b5;
$greenColor: rgb(49 181 182);
// mixin
@mixin faBrandsSize($size, $color) {
  font-size: $size;
  color: $color;
}

@mixin subtitleSection {
  font-size: 30px;
  text-transform: uppercase;
  color: $capitalColor;
  border-color: $decorColor;
  border-bottom-style: solid;
  width: 230px;
  border-bottom-width: 4px;
}

body {
  font-family: sans-serif;
  min-height: 100%;
  min-width: fit-content;
  overflow-x: hidden;
}

.navigation-bar {
  margin: 30px 120px;
  display: flex;
  justify-content: end;
  padding: 20px 0px;

  ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    li {
      a {
        text-decoration: none;
        color: $capitalColor;
        font-weight: bold;
        text-transform: uppercase;
        margin: 10px 20px;
        transition: all 0.2s;
      }
      &:hover {
        text-decoration: underline;
      }
      &:nth-child(4) {
        text-decoration: none;
      }
      .fa-github {
        @include faBrandsSize($size, $purpleColor);
      }

      .fa-linkedin {
        @include faBrandsSize($size, $greenColor);
      }
    }
  }
}

.contact-buttom {
  background-color: $buttonColor;
  padding: 10px 15px;
  border-radius: 80px;
  color: $witheColor !important;
  transition: all 0.5s;
  &:hover {
    background-color: $buttonHover;
  }
  .fa-envelope {
    margin-right: 10px;
  }
}

// intro seccion

#biography {
  display: flex;
  justify-content: space-between;
  margin: 220px 120px;
  .biography-intro-text {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  span {
    font-size: 30px;
    color: $defaultColor;
    border-color: $decorColor;
    border-bottom-style: solid;
    width: 230px;
    border-bottom-width: 4px;
  }
  h1 {
    font-size: 80px;
    margin: 0;
    color: #0d1d56;
  }
  p {
    font-size: 20px;
    margin: 10px 0px;
    color: $defaultColor;
    line-height: 1.444;
  }
  .dowloand-cv {
    text-decoration: none;
    text-align: center;
    color: $witheColor;
    padding: 10px;
    width: 180px;
    border-radius: 30px;
    background: $buttonColor;
    cursor: pointer;
    &:hover {
      background: $buttonHover;
    }
  }
  .biography-banner {
    width: 40%;
    img {
      width: 600px;
    }
  }
}

#skills {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  .skills-subtitle {
    display: flex;
    width: 50%;
    margin: 0px 120px;
    flex-direction: column;
    justify-content: center;
    h2 {
      @include subtitleSection;
    }
    p {
      font-size: 20px;
      line-height: 1.444;
      color: $defaultColor;
    }
  }
  .skills-items {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
    background-image: linear-gradient(260deg, #cbe7f6 0%, #7ae7fa 100%);
    .item {
      margin: 40px;
      img {
        width: 70px;
        height: 70px;
        margin: 5px 25px;
        border-radius: 60%;
      }
      p {
        margin: 0;
        font-size: 20px;
        text-align: center;
        color: $defaultColor;
      }
    }
  }
}

// projects

#my-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 200px 120px;
  .projects-subtitle {
    display: flex;
    h2 {
      @include subtitleSection;
    }
  }
  .projects-wrapper {
    display: flex;
    justify-content: space-around;

    .project {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 25.33%;
      padding: 10px;
      margin-right: 20px;
      &:hover {
        transition: 1s;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5),
          0 6px 20px 0 rgba(0, 0, 0, 0.3);
      }
      .project-thumbnail {
        img {
          width: 100%;
        }
      }
    }
    .project-description {
      font-size: 20px;
      line-height: 1.444;
      text-align: center;
      h3 {
        text-align: center;
        color: $capitalColor;
      }
      p {
        text-align: center;
        color: $defaultColor;
      }
    }
  }
  .project-buttons {
    display: flex;
    a {
      text-decoration: none;
      color: $witheColor;
      background-color: rgb(183, 136, 245);
      padding: 10px;
      margin: 10px;
      border: 1px solid $blackColor;
      border-radius: 20px;
      &:hover {
        background-color: rgb(146, 135, 250);
      }
      &:first-child {
        background-color: rgb(153, 236, 240);
        color: $defaultColor;
        &:first-child:hover {
          background-color: rgb(112, 249, 249);
        }
      }
    }
  }
}

// experience
#experience {
  margin: 200px 120px;
  .experience-subtitle {
    h2 {
      @include subtitleSection;
    }
  }
  .experience-item {
    display: flex;
    width: 60%;
  }
  .experience-company-logo {
    img {
      width: 60px;
    }
  }
  .experience-company-info {
    margin-left: 30px;
    font-size: 20px;
    .company-details {
      .company-location {
        margin-right: 20px;
      }
      .company-name {
        a {
          color: $defaultColor;
          text-decoration: none;
        }
      }
    }
    h3 {
      margin: 0px 0px 20px 0px;
      color: $capitalColor;
    }
    span {
      color: $defaultColor;
    }
    a {
      color: $defaultColor;
    }
    p {
      color: $defaultColor;
    }
    .fa-solid {
      color: $purpleColor;
    }
  }
}

// footer

footer {
  display: flex;
  flex-direction: column;
  padding: 50px;
  font-size: 20px;
  background-color: #e0e0e284;
  .footer-contact {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    .fa-linkedin {
      margin: 0 30px;
    }
    .fa-envelope-circle-check {
      @include faBrandsSize($size, rgb(118, 104, 246));
    }
    .fa-earth-americas {
      @include faBrandsSize($size, #54cbfa);
    }
    .fa-comment-dots {
      @include faBrandsSize($size, #717070);
    }
    .fa-github {
      @include faBrandsSize($size, $purpleColor);
    }

    .fa-linkedin {
      @include faBrandsSize($size, $greenColor);
    }
  }
}

/* -------> Media queries <-------- */

/* 
  phones phones max with 767px
  tablets and large phones min with 768px
 */

@media all and (max-width: 1100px) {
  * p,
  span,
  h3 {
    font-size: 30px;
  }

  .navigation-bar {
    margin: 20px;
    justify-content: center;
    .navigation-bar-links {
      margin: 20px;
      justify-content: center;
      ul {
        flex-wrap: wrap;
        justify-content: center;
        li {
          a {
            font-size: 25px;
            margin: 20px;
            display: inline-block;
          }
        }
      }
    }
  }

  #biography {
    flex-direction: column;
    align-content: center;
    margin: 100px;
    text-align: center;
    .biography-intro-text {
      width: 100%;
      span {
        margin: 0 auto;
      }
      h1 {
        margin: 20px 0;
      }
      .dowloand-cv {
        margin: 0 auto;
        margin-top: 20px;
        font-size: 25px;
        padding: 18px;
        color: black;
      }
    }
    .biography-banner {
      width: 100%;
      margin-top: 50px;
      img {
        width: 500px;
      }
    }
  }

  #skills {
    flex-direction: column;
    .skills-subtitle {
      width: 100%;
      margin: 0;
      text-align: center;
      padding: 10px;
      h2 {
        justify-content: center;
      }
    }
    .skills-items {
      width: 100%;
      padding: 0;
      .tem {
        width: 155px;
        text-align: center;
        img {
          margin: 0;
        }
      }
    }
  }

  #my-projects {
    margin: 100px 0px;
    flex-direction: column;
    .projects-wrapper {
      flex-direction: column;
      .project {
        width: 100%;
        margin: 50px 0px;
        .project-thumbnail {
          img {
            width: 100%;
          }
        }
        .project-description {
          text-align: center;
        }
        .project-buttons {
          a {
            font-size: 25px;
            padding: 25px 35px;
            border-radius: 40px;
          }
        }
      }
    }
  }

  #experience {
    margin: 100px 20px;
    .experience-subtitle {
      h2 {
        margin: 30px auto;
      }
    }
    .experience-item {
      width: 100%;
    }
  }
}

.footer-contact {
  flex-wrap: wrap;
}
